{{#d-section pageClass="user-reflection" class="user-secondary-navigation" scrollTop="false"}}
  {{#mobile-nav class='reflection-nav' desktopClass='action-list reflection-list nav-stacked' currentPath=application.currentPath}}
    <li>
      {{#link-to 'userReflection'}} All reflections {{/link-to}}
    </li>
    <li>
      {{#link-to 'userReflection'}} Draft reflections {{/link-to}}
    </li>
    <li>
      {{#link-to 'userReflection'}} Export {{/link-to}}
    </li>
  {{/mobile-nav}}
{{/d-section}}

<section class='user-additional-controls'>
  {{d-button class="btn-default" label="user.download_archive.button_text" icon="download"}}
</section>

<section class='user-content'>
  {{outlet}}
</section>
